{% load staticfiles %}
<div class="col s12 m6 l3">
    <div class="card small">
        <div class="card-image">
            {% with 'core/img/deportes/'|add:card_image as image_url %}
                <a href="{% url 'search:search_results' sport_slug=sport_slug location_slug=location_slug %}">
                    <img src="{% static image_url %}" alt="{{ card_title }} {{ location_slug }}"/>
                </a>
            {% endwith %}
        </div>
        <div class="card-content">
            <span class="card-title truncate">{{ card_title }}</span>
        </div>
        <div class="card-action center">
            <a class="waves-effect waves-light btn modal-trigger blue"
               href="{% url 'search:search_results' sport_slug=sport_slug location_slug=location_slug %}">
                BUSCAR
            </a>
        </div>
    </div>
</div>