<!DOCTYPE html>
{% load staticfiles %}
<html lang="es-ES">
    <head>
        <title>{% block pagetitle %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% block description %}{% endblock %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/materialize.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}" />

        <script type='text/javascript' src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'core/js/materialize.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'core/js/Helper.js' %}"></script>
        <script type='text/javascript' src="{% static 'search/js/SearchForm.js' %}"></script>
        <script type='text/javascript' src="{% static 'core/js/main.js' %}"></script>

        {% block head %}{% endblock %}

        {% if not DEBUG %}
            <!-- Global Site Tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45884912-6"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments)};
              gtag('js', new Date());

              gtag('config', 'UA-45884912-6');
            </script>
        {% endif %}
    </head>
    <body>
        <header>
            <nav class="blue darken-1">
                <div class="nav-wrapper container">
                    <h1 class="center">
                        <a href="{% url 'core:index' %}">
                            <img src="{% static 'core/img/logo.gif' %}" width="40" height="40" alt="reservar pista"/>
                            ReservarPista.es
                        </a>
                    </h1>
                </div>
            </nav>
        </header>
        <main>
            {% block primary %}{% endblock %}
        </main>
        {% block footer %}
            <footer class="page-footer light-blue cyan-3">
                <div class="container right-align">
                    Para cualquier consulta, escribir a info@reservarpista.es
                </div>
            </footer>
        {% endblock %}

        {% block bottom %}{% endblock %}
    </body>
</html>