{% extends 'core/base_template.html' %}
{% load staticfiles %}

{% block pagetitle %}Reserva pádel, fútbol, tenis y baloncesto | Reservar pista{% endblock %}
{% block description %}Solicita una reserva online para pádel, fútbol, tenis o baloncesto en Mallorca o Madrid{% endblock %}

{% block primary %}

{% include 'search/blocks/search_form.html' %}
    <div class="homepage main-content-display container">
        <p class="flow-text pt20 mb50 justify">
            ¡Bienvenido! En reservarpista.es nuestra intención es dar a conocer a un mayor número de gente todos aquellos centros deportivos que
            por su tamaño o ubicación pasan desapercibidos. Con nosotros podrás solicitar una reserva en el centro que escojas, y en el menor tiempo posible
            recibirás la respuesta a la solicitud de reserva.
        </p>
        <div class="row">
            <h2 class="text-header blue-text text-darken-1">Reservar pista en Mallorca</h2>
            {% include 'core/blocks/sport_card.html' with card_image="padel-mallorca.jpg" card_title="Pádel" sport_slug="padel" location_slug="mallorca" %}
            {% include 'core/blocks/sport_card.html' with card_image="futbol-mallorca.jpg" card_title="Fútbol 7" sport_slug="futbol-7" location_slug="mallorca" %}
            {% include 'core/blocks/sport_card.html' with card_image="tenis-mallorca.jpg" card_title="Tenis" sport_slug="tenis" location_slug="mallorca" %}
            {% include 'core/blocks/sport_card.html' with card_image="baloncesto-mallorca.jpg" card_title="Baloncesto" sport_slug="baloncesto" location_slug="mallorca" %}
        </div>
        <div class="row pt20 mb100">
            <h2 class="text-header blue-text text-darken-1">Reservar pista en Madrid</h2>
            {% include 'core/blocks/sport_card.html' with card_image="padel-madrid.jpg" card_title="Pádel" sport_slug="padel" location_slug="madrid" %}
            {% include 'core/blocks/sport_card.html' with card_image="futbol-madrid.jpg" card_title="Fútbol 7" sport_slug="futbol-7" location_slug="madrid" %}
            {% include 'core/blocks/sport_card.html' with card_image="tenis-madrid.jpg" card_title="Tenis" sport_slug="tenis" location_slug="madrid" %}
            {% include 'core/blocks/sport_card.html' with card_image="baloncesto-madrid.jpg" card_title="Baloncesto" sport_slug="baloncesto" location_slug="madrid" %}
        </div>
    </div>
{% endblock %}

{% block bottom %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59c2509da9bfc69b"></script>
{% endblock %}