{% load staticfiles %}
<div class="col s12 m12 l6 xl4">
    <div class="card" id="center-{{ sports_center.id }}" data-id="{{ sports_center.id }}">
        <div class="card-image">
            {% if images %}
                <div class="carousel carousel-slider">
                    {% for image in images %}
                        <a class="carousel-item" href="#one!"><img src="{{ image.thumb_url }}" alt="{{ sports_center.name }}"/></a>
                    {% endfor %}
                </div>
            {% else %}
                <img class="no-images-center" src="{% static 'core/img/logo.gif' %}" alt="{{ sports_center.name }}">
            {% endif %}

            <a class=" activator btn-floating halfway-fab waves-effect waves-light blue">
                <i class="material-icons">add</i>
            </a>
        </div>
        <div class="card-content">
            <span class="card-title truncate">{{ sports_center.name }}</span>
            <p>{{ sports_center.phone }}</p>
        </div>
        <div class="card-action center">
            {% if sports_center.email == "" %}
                <a class="waves-effect waves-light btn modal-trigger blue disabled"
                   href="#">
                    Solicitar Reserva
                </a>
            {% else %}
                <a class="waves-effect waves-light btn modal-trigger blue"
                   href="#booking-modal"
                   data-id="{{ sports_center.id }}"
                   data-sports-center-name="{{ sports_center.name }}">
                    Solicitar Reserva
                </a>
            {% endif %}
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                {{ sports_center.name }}
                <i class="material-icons right close-reveal">close</i>
            </span>
            <p>{{ sports_center.address }}</p>
            <ul class="amenities">
                <li>
                    <strong>Web</strong>
                    {% if sports_center.website %}
                        <a href="{{ sports_center.website }}" target="_blank" >Ver página</a>
                    {% else %}
                        <i class="material-icons tiny red">clear</i>
                    {% endif %}
                </li>
                <li>
                    <strong>Vestuarios</strong>
                    {% if sports_center.locker_room %}
                        <i class="material-icons tiny green">check</i>
                    {% else %}
                        <i class="material-icons tiny red">clear</i>
                    {% endif %}
                </li>
                <li>
                    <strong>Taquillas</strong>
                    {% if sports_center.lockers %}
                        <i class="material-icons tiny green">check</i>
                    {% else %}
                        <i class="material-icons tiny red">clear</i>
                    {% endif %}
                </li>
                <li>
                    <strong>Duchas</strong>
                    {% if sports_center.shower %}
                        <i class="material-icons tiny green">check</i>
                    {% else %}
                        <i class="material-icons tiny red">clear</i>
                    {% endif %}
                </li>
                <li>
                    <strong>Bar</strong>
                    {% if sports_center.bar %}
                        <i class="material-icons tiny green">check</i>
                    {% else %}
                        <i class="material-icons tiny red">clear</i>
                    {% endif %}
                </li>
                <li>
                    <strong>Parking</strong>
                    {% if sports_center.parking %}
                        <i class="material-icons tiny green">check</i>
                    {% else %}
                        <i class="material-icons tiny red">clear</i>
                    {% endif %}
                </li>
                <li>
                    <strong>Equipamiento</strong>
                    {% if sports_center.equipment_rental %}
                        <i class="material-icons tiny green">check</i>
                    {% else %}
                        <i class="material-icons tiny red">clear</i>
                    {% endif %}
                </li>
            </ul>
            <p>{{ sports_center.description|linebreaksbr }}</p>
        </div>
    </div>
</div>