{% load staticfiles %}
<div class="col s12 m12 l6 xl4">
    <div class="card" id="center-{{ sports_center.id }}" data-id="{{ sports_center.id }}">
        <div class="card-image">
            <img src="{% static 'core/img/pista5.jpg' %}" />
            <a class=" activator btn-floating halfway-fab waves-effect waves-light blue">
                <i class="material-icons">add</i>
            </a>
        </div>
        <div class="card-content">
            <span class="card-title truncate">{{ sports_center.name }}</span>
            <p>{{ sports_center.phone }}</p>
        </div>
        <div class="card-action center">
            <a class="waves-effect waves-light btn modal-trigger blue"
               href="#booking-modal"
               data-id="{{ sports_center.id }}"
               data-sports-center-name="{{ sports_center.name }}">
                Solicitar Reserva
            </a>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                {{ sports_center.name }}
                <i class="material-icons right close-reveal">close</i>
            </span>
            <h5>Petición de reserva</h5>
            <p>¡Hey! Primero debes realizar una búsqueda.</p>
        </div>
    </div>
</div>